<div class="container-fluid">
     
    <h1 class="text-center main-title">Editer l'article</h1>
    <div class="form-container">
     
      <br>
       <%= form_with(model: @article, local: true) do |form| %> 

  
            <% if @article.errors.any? %>
                <div id="error_explanation">
                <ul>
                    <% @article.errors.messages.each do |msg| %>
                    <li style="color:red;"><%= msg[1][0] %></li>
                    <% end %>
                </ul>
                </div>
            <% end %>
            
            <p>
                <%= form.label :title, "Titre" %><br>
                <%= form.text_field :title %>
                <%=  %>
            </p>
            <p>
                <%= form.label :author, "Auteur" %><br>
                <%= form.text_field :author %>
            </p>
            <p>
                <%= form.label :image %>
                <%= form.file_field :image %>
            </p>
            <p>
                <%= form.label :text, "Contenu" %><br>
                <%= form.text_area :text %>
            </p>
            <p>
                <%= form.label :published_date, "Date de publication" %>
                <%= form.date_field :published_date %>
            </p>
            <p class="text-center">
                <%= form.submit "Publier", :class => "btn btn-primary" %>
                <%= link_to 'Retour', articles_path, :class => "btn btn-warning" %>
        <%= link_to "Supprimer", article_path(@article), method: "delete", data:{confirm: "Êtes-vous sûr ?"}, :class => "btn btn-danger" %>

       
            </p>
        <% end %>

      
    </div>
    <br>
</div>
