<h1>Les publications des internautes</h2>
<div style="text-align:center;">
    <%= link_to 'Nouvel article', new_article_url%>
</div>
<br>
<% @articles.each do |article| %>
    <table style="width:50%; border: 1px solid black; margin-left:auto; margin-right:auto;">
        <th>
            <% if article.image.thumb.url %>
                <div>
                    <%= image_tag article.image.thumb.url %>
                </div>
            <% end %>
        </th>
        <th style="width:75%;">
            <div>
                <p>
                <strong>Titre:</strong>
                <%= link_to article.title, article %>

                </p>
                <p>
                    <strong>Auteur:</strong>
                    <%= article.author %>
                </p>
                <p>
                    <strong>Date de publication:</strong>
                    <%= article.published_date %>
                </p>
                <%= link_to 'Modifier', edit_article_path(article) %>
            </div>   
    </table>
    <br>
    
    
<% end %>
