<div class="container-fluid">
  <h1 class="text-center main-title">Les publications des internautes</h1>
  <div style="text-align:center;">
    <%= link_to 'Nouvel article', new_article_url, :class => "btn btn-danger"%>
  </div>
  <br>
  <div class="container">
    <div style="background-color: white;">
      <% if user_signed_in? %>
        <span><%= current_user.first_name %> <%= current_user.last_name %></span>
        <%= link_to('Se déconnecter', destroy_user_session_path, method: :delete)%>
      <% else %>
        <%= link_to 'Se connecter', new_user_session_url%>
      <% end %>
    </div>
    <% @articles.each do |article| %>
      <div class="row article-container">
        <div class="">
          <% if article.image.thumb.url %>
            <%= image_tag article.image.thumb.url %>
          <% end %>
        </div>
        <div class="col-8">
          <h5><%= link_to article.title, article %></h5>
          <br>
          <p class="card-text"><strong>Auteur:</strong>
            <%= article.author %></p>
          <p class="card-text"><strong>Date de publication:</strong>
            <%= article.published_date %></p>
          <%= link_to 'Modifier', edit_article_path(article), :class => "btn btn-primary" %>
          <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
</div>
